<div class="card mb-3">
  <div class="card-header font-italic ml-2">
    <% if article.user %>
      By <%= link_to article.user.username, user_path(article.user) %>
    <% end %>
  </div>
  <br>
  <p class="card-text">
    <strong>Title:</strong> <%= article.title %>
  </p>

  <p class="card-text">
    <strong>Description:</strong> <%= article.description %>
  </p>
</div>