<div class="card mb-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Username:</strong> <%= article.user.username %>
    </p>

    <p class="card-text">
      <strong>Title:</strong> <%= article.title %>
    </p>

    <p class="card-text">
      <strong>Description:</strong> <%= article.description %>
    </p>

    <div class="d-flex justify-content-end">
      <%= link_to 'Delete', article_path(article),
                  class: 'btn btn-danger',
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</div>