<div class="container mt-4">
  <h1 class="text-center">Alpha Bloggers</h1>

  <% @users.each do |user| %>
    <div class="card mt-4">
      <div class="card-body">
        <%= render 'user', user: user %>
      </div>
    </div>


  <% end %>

  <div class="mt-4">
    <%= link_to "Sign up", signup_path, class: 'btn btn-success' %>
  </div>
</div>